# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;publish:1;"
        type: SUBNODE_IN
    }

    # Test node. Zuo added on 2018-04-08
    subnodes {
        id: 4
        name: "ZuoTestSubnode"
        reserve: "device_id:ZuoTest;publish:1;"
        type: SUBNODE_IN
    }

    # Test node for publish/subscribe. Zuo added on 2018-04-16
    # SUBNODE_NORMAL/SUBNODE_IN/SUBNODE_OUT   	SUBNODE_NORMAL is default
    subnodes {
        id: 6
        name: "ZuoTest2Subnode"
        reserve: "device_id:ZuoTest2;publish:1;"
        type: SUBNODE_NORMAL
    }

    # Visualization node with OpenGL
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1008;camera_event_id:1008"
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
		# CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization"
        }
    }

		# ZuoTest2Subnode -> ZuoTestSubnode
    #edges {
    #    id: 109
    #    from_node: 6
    #    to_node: 4
    #    events {
    #        id: 1009
    #        name: "ZuoTestSubnode"
    #    }
    #}
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
}
